/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* Global Style */
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none !important;
}

.logo-circle {
  height: 26px;
  width: 26px;
  border: 4px solid #ffffff;
  display: inline-block;
  margin-bottom: -2px;
  border-radius: 50%;
  position: relative;
}

.logo-circle::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-right: -4px;
}

.mybtn1 {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mybtn1:focus {
  box-shadow: none;
}

.mybtn1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  background: rgba(125, 23, 23, 0.1);
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

.mybtn1:hover::before {
  width: 100%;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
}

.section-title .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 15px;
  position: relative;
  padding: 5px 10px;
  z-index: 1;
}

.section-title .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  border-radius: 4px;
  opacity: 0.1;
}

.section-title .subtitle {
  font-size: 30px;
  line-height: 38px;
  color: #222222;
  font-weight: 700;
  margin: 0;
}

.bg-light {
  background-color: #f5f5ff;
}

/* Header */
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header .navbar {
  padding: 0;
}

.header .navbar.navbar-light .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 20px 15px 20px;
  line-height: 26px;
  opacity: 0.6;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link.active {
  opacity: 1;
}

/* Home Section */
.home-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 250px 0 200px;
}

.home-section::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 112px;
  background-image: url('../img/shape-bg.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-section .home-content h1 {
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

.home-section .home-content p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 20px;
  line-height: 28px;
}

.home-section .home-img {
  position: relative;
}

.home-section .home-img img {
  max-width: 400px;
  width: 100%;
  position: absolute;
  left: 150px;
  top: -50px;
  animation: productani01 5s linear infinite;
}

@keyframes productani01 {
  0%,
  100% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.home-section .bg-shapes div {
  position: absolute;
  opacity: 0.08;
}

.home-section .bg-shapes div:nth-child(1) {
  height: 100px;
  width: 100px;
  top: 20%;
  left: 20%;
  border-radius: 50%;
  background-color: #ffffff;
  animation: shapeani01 5s linear infinite;
}

.home-section .bg-shapes div:nth-child(2) {
  height: 80px;
  width: 80px;
  top: 60%;
  left: 60%;
  border-radius: 50%;
  background-color: transparent;
  animation: shapeani02 7s linear infinite;
  border: 5px solid #ffffff;
  border-bottom: 5px solid transparent;
}

.home-section .bg-shapes div:nth-child(3) {
  height: 60px;
  width: 60px;
  top: 10%;
  left: 90%;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #ffffff;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  animation: shapeani02 5s linear infinite;
}

.home-section .bg-shapes div:nth-child(4) {
  height: 200px;
  width: 200px;
  top: 40%;
  left: calc(100% - 100px);
  border-radius: 50%;
  background-color: #ffffff;
  animation: shapeani03 10s linear infinite;
}

.home-section .bg-shapes div:nth-child(5) {
  height: 100px;
  width: 100px;
  top: 40%;
  left: calc(0% - 50px);
  background-color: transparent;
  border: 5px solid #ffffff;
  animation: shapeani02 10s linear infinite;
}

@keyframes shapeani01 {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(50px);
  }
}

@keyframes shapeani02 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shapeani03 {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}

/* About Section */
.about-section {
  padding: 80px 0 80px;
  background-color: #ffffff;
}

.about-section .about-img {
  margin: auto;
}

.about-section .about-img img {
  max-width: 350px;
}

.about-section .section-title {
  text-align: left;
  margin-bottom: 30px;
}

.about-section .about-content p {
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  margin: 0;
  font-weight: 400;
}

.about-section .about-content ul {
  display: block;
  margin: 30px 0 0;
}

.about-section .about-content ul li {
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  margin-bottom: 15px;
  font-weight: 400;
  position: relative;
  padding-left: 32px;
}

.about-section .about-content ul li i {
  height: 25px;
  width: 25px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  position: absolute;
  left: 0;
  top: 0;
}

/* Features Section */
.features-section {
  padding: 80px 0 80px;
}

.features-section .features-item {
  box-shadow: 0 0 10px #dddde3;
  padding: 40px 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease;
}

.features-section .features-item:hover {
  transform: translateY(-10px);
}

.features-section .features-item .icon {
  margin-bottom: 25px;
}

.features-section .features-item .icon i {
  font-size: 40px;
  display: inline-block;
}

.features-section .features-item .icon h3 {
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  margin: 0 0 15px;
  line-height: 30px;
  transition: all 0.5s ease;
}

.features-section .features-item .icon p {
  font-size: 16px;
  line-height: 26px;
  color: #555555;
  margin: 0;
  transition: all 0.5s ease;
}

.features-section .features-item:hover .icon i,
.features-section .features-item:hover h3,
.features-section .features-item:hover p {
  color: #ffffff;
}

/* Products Section */
.products-section {
  padding: 80px 0 80px;
  background-color: #ffffff;
}

.products-section .products-item {
  box-shadow: 0 0 10px #dddde3;
  margin: 15px 0;
}

.products-section .product-img {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.products-section .product-img .overlay {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.products-section .products-item:hover .product-img .overlay {
  opacity: 1;
}

.products-section .product-img .overlay .btn {
  transform: translateY(100px);
  margin: auto;
  transition: all 0.5s ease;
}

.products-section .products-item:hover .product-img .overlay .btn {
  transform: translateY(0px);
}

.products-section .product-img img {
  width: 100%;
  display: block;
}

.products-section .product-content {
  text-align: center;
  padding: 0 30px;
}

.products-section .product-content .product-price {
  margin: 15px 0 5px;
}

.products-section .product-content .product-price .new-price {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0 5px;
}

.products-section .product-content .product-price .old-price {
  font-size: 18px;
  display: inline-block;
  color: #959595;
  font-weight: 400;
}

.products-section .product-content .product-name {
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  line-height: 26px;
  margin: 0;
  padding-bottom: 20px;
}
 